In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
file_train = pd.read_csv('F:\\datasets\\shop_regg\\train.csv')
df_train = file_train.copy()
df_train.sample(10)

,id,date,city,lat,long,pop,shop,brand,container,capacity,price,quantity
1686,1686.0,31/07/13,Larisa,39.63689,22.41761,139242.0,shop_5,adult-cola,glass,500ml,1.38,20501.0
374,374.0,31/05/12,Irakleion,35.32787,25.14341,134219.0,shop_2,adult-cola,glass,500ml,1.08,28768.0
3596,3596.0,30/04/15,Athens,37.97945,23.71622,667237.0,shop_1,lemon-boost,glass,500ml,0.88,22631.0
6170,6170.0,30/09/17,Thessaloniki,40.64361,22.93086,353001.0,shop_4,lemon-boost,plastic,1.5lt,2.41,18976.0
4166,4166.0,30/11/15,Patra,38.24444,21.73444,167001.0,shop_6,kinder-cola,plastic,1.5lt,2.32,15866.0
4932,4932.0,31/07/16,Patra,38.24444,21.73444,168254.0,shop_6,adult-cola,can,330ml,0.66,69643.0
1486,1486.0,31/05/13,Thessaloniki,40.64361,22.93086,347001.0,shop_4,orange-power,plastic,1.5lt,1.54,44169.0
4494,4494.0,29/02/16,Patra,38.24444,21.73444,168254.0,shop_6,gazoza,can,330ml,0.46,24640.0
5602,5602.0,31/03/17,Irakleion,35.32787,25.14341,138200.0,shop_2,lemon-boost,glass,500ml,0.83,26762.0
5883,5883.0,30/06/17,Thessaloniki,40.64361,22.93086,353001.0,shop_4,adult-cola,glass,500ml,1.17,37991.0

In [3]:
df = df_train.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6376 entries, 0 to 6479
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         6376 non-null   float64
 1   date       6376 non-null   object
 2   city       6376 non-null   object
 3   lat        6376 non-null   float64
 4   long       6376 non-null   float64
 5   pop        6376 non-null   float64
 6   shop       6376 non-null   object
 7   brand      6376 non-null   object
 8   container  6376 non-null   object
 9   capacity   6376 non-null   object
 10  price      6376 non-null   float64
 11  quantity   6376 non-null   float64
dtypes: float64(6), object(6)
memory usage: 647.6+ KB

In [4]:
label = df['quantity']
df = df.drop(['quantity','id','date','shop'],axis=1)
df_num = df.drop(['city','brand','container','capacity'],axis=1)
df_nan = df.drop(df_num.columns,axis=1)

In [5]:
encoded_nan = pd.get_dummies(df_nan)

In [6]:
concated_df = pd.concat([df_num,encoded_nan],axis=1)

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(concated_df),columns=concated_df.columns)

In [15]:
from sklearn.ensemble import RandomForestRegressor
alg = RandomForestRegressor()
alg.fit(scaled_df,label)
print(alg.score(scaled_df,label)*100)
class Prepare(object):
    '''class docstring'''
    def __init__(self,df)->None:
        self.df = df
    def prepare(self)->None:
        '''function docstring'''
        new_df = self.df.dropna()
        lbl = new_df['quantity']
        new_df = new_df.drop(['quantity','id','date','shop'],axis=1)
        new_df_num = new_df.drop(['city','brand','container','capacity'],axis=1)
        new_df_nan = new_df.drop(new_df_num.columns,axis=1)
        encoded_new_df_nan = pd.get_dummies(new_df_nan)   #Ready
        concated_test_df = pd.concat([new_df_num,encoded_new_df_nan],axis=1)
        scaled_test_df = pd.DataFrame(scaler.fit_transform(concated_test_df),columns=concated_test_df.columns)
        return (scaled_test_df,lbl)
file2 = pd.read_csv('F:\\datasets\\shop_regg\\test.csv')
df_test = file2.copy()
test = Prepare(df_test)
print(alg.score(test.prepare()[0],test.prepare()[1])*100)

93.00132886368947
62.104138617298545